<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.androiddevelopersexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activities.MainActivity">
            <nav-graph android:value="@navigation/main_navigation_graph" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="deeplinks">
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="money"
                    android:scheme="app" />

                <data
                    android:host="loyalty"
                    android:scheme="app" />
                <data
                    android:host="more"
                    android:scheme="app" />

                <data
                    android:host="notifications"
                    android:scheme="app" />

                <data
                    android:host="newcard"
                    android:scheme="app" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>

    </application>

</manifest>